[Unit]
Description=Evolution calendar service

[Service]
Type=dbus
BusName=org.gnome.evolution.dataserver.Calendar8
ExecStart=/usr/libexec/evolution-calendar-factory
