[Unit]
Description=Evolution address book service

[Service]
Type=dbus
BusName=org.gnome.evolution.dataserver.AddressBook10
ExecStart=/usr/libexec/evolution-addressbook-factory
